*{
background-color: black;
font-family: Arial, Helvetica, sans-serif;      
color: white;
margin: 0;
padding: 0;
background-image: url(/img/fond\ 2.png);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px){

    .flex{
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
        
        .combined{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        }
        
        .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        
        .nav{
        padding-top: 46px;
        font-size: 22px;
        font-weight: bold;
        }
        
        .hero img {
        height: 120px;
        width: 120px;
        padding-bottom: 44px;
        }
        
        .hero h1{
        float:left;
        font-size: 32px ;
        padding-bottom: 32px;
        }
        
        .hero p{
        width: 535px;
        float:left;
        font-size: 16px ;
        letter-spacing: 2%;
        }

        .hero #s1,#s2{
            opacity :70%
        }

        .hero .strong{
            opacity: 80%;

        }
        
        .profile img{
        padding-top: 33px;
        height: 24px;
        width: 24px;
        }
        
        .linkedin{
        padding-left: 12px;
        padding-right: 12px;
        }
        
        .nav #a1:hover,#a2:hover,#a3:hover{
            opacity: 50%;
            transition-duration: 1s;
        
        }
        
        .content
        #f1,#f2,#f3,#f4{   
            font-size: 24px;
            font-weight: bold;
        }
        
        #f5,#f6,#f7,#f8{
            font-size: 20px;
            opacity: 80%;
        }
        
        .flex2{
            display:flex;
            justify-content: center;
            align-items: center ;
        
        }
        .content{
            display: flex;
            padding-top: 92px;
            flex-direction: column;
            justify-content: center;    
            align-items: flex-start;
        }

        #experience{
            font-size: 32px;
            font-weight: bold;
        }
        
        .internalcontent{
            padding-top: 43px;
            padding-left: 94px;
        }
        
        .ckw,.turf,.mti{
            padding-top: 60px;
            width: 703px;
        }
        
        .bmf{
            width: 703px;
        }
        
        #u1,#u2,#u3,#u4{
            width: 600px;
            padding-top: 16px;
            font-size: 16px;
            opacity: 70%;
            padding-left: 20px;
        }
        
        .mti{
            padding-bottom: 92px;
        }   

}

/* mobile phones*/
@media only screen and (max-width: 768px){

    .flex{
        padding-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
        
        .combined{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        }
        
        .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;

        }
        
        .nav{
        padding-top: 43px;
        font-size: 16px;
        font-weight: bold;

        }
        
        .hero img {
        height: 100px;
        width: 100px;
        padding-bottom: 44px;
            }
        
        .hero h1{
        float:left;
        font-size: 27px ;
        padding-bottom: 32px;
        }
        
        .hero p{
        width: 242px;
        float: left;
        font-size: 13px ;
        }

        .hero #s1,#s2{
            opacity :70%
        }

        .hero .strong{
            opacity: 80%;

        }
        
        .profile img{
        padding-top: 33px;
        height: 24px;
        width: 24px;
        }
        
        .linkedin{
        padding-left: 12px;
        padding-right: 12px;
        }
        
        .nav #a1:hover,#a2:hover,#a3:hover{
            opacity: 50%;
            transition-duration: 1s;
        
        }

        /*experience page*/
        
        .content
        #f1,#f2,#f3,#f4{   
            font-size: 15px;
            font-weight: bold;
        }
        
        #f5,#f6,#f7,#f8{
            font-size: 14px;
            opacity: 80%;
        }
        
        .flex2{
            display:flex;
            justify-content: center;
            align-items: center ;
        
        }
        .content{
            display: flex;
            padding-top: 92px;
            flex-direction: column;
            justify-content: center;    
            align-items: flex-start;
        }
        
        .internalcontent{
            padding-top: 43px;
            padding-left: 50px;
        }
        
        .ckw,.turf,.mti{
            padding-top: 60px;
            width: 280px;
        }

        .bmf{
            width: 280px;
        }
        
        #experience{
            font-size: 24px;
            font-weight: bold;
            padding-left: 30px;
        }
        
        #u1,#u2,#u3,#u4{
            width: 229px;
            padding-top: 16px;
            font-size: 16px;
            opacity: 70%;
            padding-left: 20px;
        }
        
        .mti{
            padding-bottom: 92px;
        }   
            
}

